*{
    top: 0;
    box-sizing: border-box;
    }
    body{
        width: 100%;
        height: 100%;
        background-image: url("../פיתוח-משחקי1-מחשב.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        Background-attachment: fixed;
    }
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      #h1,
      h2 {
        color: #fbff04;
        font-size: 45px;
      }
      #logogame1{
        width: 95%;
        height: 100%;
        border: 2px solid yellow;
      }
      .games{
        width: 500px;
        font-size: 35px;
        color: yellow;
        display: flex;
        justify-content:space-between;
        align-items: center;
      }
      @media only screen and (max-width: 413px){
        .games{
            width: 300px;
            font-size: 20px;
        } 




      }
    
