*{
top: 0;
box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-image: url("../פיתוח-משחקי1-מחשב.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    Background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#h1,h2{
    color: #fbff04;
    font-size: 35px;
    top: 0;
}
#span{
    font-size: 25px;
    color: #fbff04;
}
.main .ing{
display: none;
}
#start{
    padding: 10px 20px;
    font-size:30px;
    width: 250px;
    border-radius: 5px;
    background-color: yellow;
    color: #000000;
    border: none;
    cursor: pointer;
}
#start:hover{
    background-color: #000000;
    color: yellow;
}
#input{
    width: 35%;
    padding: 10px;
    font-size:25px;
    border-radius: 5px;
    border: 1px solid #000000;
    background-color: yellow;
    display: none;
    direction: rtl;  
}
input::placeholder {
    font-size: 30px; /* גודל גופן של ה-placeholder */
    direction: rtl;  /* כיווניות מימין לשמאל */
    text-align: right; /* יישור טקסט לימין */
    Font-weight : bold;

}
#input:hover{
    background-color: #000000;
    color: yellow;
}
#arr{
    color: yellow;
    font-size: 30px;
    display: none;
    color: black;
    Font-weight : bold;
    background-color: yellowgreen;
    padding: 15px;
    border-radius:10px;
}
#textNachsh{
    font-size: 33px;
    color: yellow;
    Font-weight : bold;

}
#submit{
    padding: 10px 20px;
    font-size: 25px;
    width: 25%;
    border-radius: 5px;
    background-color: yellow;
    color: #000000;
    cursor: pointer;
    display: none;
}
#submit:hover{
    background-color: #000000;
    color: yellow;
}
.border{
    border: 1px solid rgb(233, 233, 160);
    border-radius: 10px;
}
#user-score{
       color: #fbff04;
       font-size: 30px;
       Font-weight : bold;
}
#Timeisup{
    width: 350px;
    font-size: 20px;
    color: yellow;
    Font-weight : bold;
    text-align: center;
       display: none;
}
#next-level{
    padding: 10px;
    font-size: 24px;
    width:100%;
    border-radius: 5px;
    color: #000000;
    background-color: red;
    display: none;
}
#p{
    color: #fbff04;
    font-size: 30px;
  }
  #divp{
        width: 500px; 
        padding: 18px; 
        background-color: #cdecf4; 
        border-radius: 10px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        margin: 20px auto;
        font-family: Arial, sans-serif;
        opacity: 0.8;
        direction: rtl;
      }
      #divp li{
        font-size: 18px;
      }
      #divp h1{
        color: #000;
        text-align: center;
         font-size: 35px;
         text-shadow: 0 0 15px rgb(234, 255, 4);
          font-weight: bolder;
         font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      }
      #divp h3{
        font-size: 18px;
      }
      
@media only screen and (max-width: 412px){
    body {
        width: 98%;
        flex-direction: column;
        align-items: center;
    }
    #h1, h2 {
        font-size: 35px;
    }
    #p {
        font-size: 20px;
    }
    #span {
        font-size: 20px;
    }
    #start {
        font-size: 20px;
        width: 200px;
    }
    #input {
        width: 80%;
        font-size: 18px;
    }
    input::placeholder {
        font-size: 18px;
    }
    #textNachsh {
        font-size: 20px;
    }
     #arr{
        font-size: 16px;
        margin: 5px;
     }
    #submit {
        font-size: 20px;
        width: 80%;
    }
    #user-score {
        font-size: 24px;
    }
    #Timeisup {
        font-size: 20px;
    }
    #next-level {
        font-size: 20px;
    }
    #divp{
        width: 370px; 
      }
      #divp li{
        font-size: 16px;
      }
      #divp h1{
         font-size: 23px;
      }
      #divp h3{
        font-size: 16px;
      
      }
    
}