*{
    top: 0;
    box-sizing: border-box;
    }
    body{
        width: 100%;
        height: 100%;
        background-image: url("../פיתוח-משחקי1-מחשב.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        Background-attachment: fixed;
    }
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      #h1,
      h2 {
        color: #fbff04;
        font-size: 45px;
      }
      #logogame1{
        width:230px;
        height: 100%;
        Cursor: pointer;
       
      }
      .games{
        width: 500px;
        font-size: 35px;
        color: yellow;
        display: flex;
        justify-content:space-between;
        align-items: center;
      }
      #gem1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      #gem2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      #div2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column

      }
      #startButton1 {
        padding: 10px 20px;
        font-size: 25px;
        width: 100%;
        border-radius: 5px;
        background-color: yellow;
        color: #000000;
        cursor: pointer;
      }
      #startButton2{
        padding: 10px 20px;
        font-size: 25px;
        width: 100%;
        border-radius: 5px;
        background-color: yellow;
        color: #000000;
        cursor: pointer;
      }
      h4{
        color: #fbff04;
        font-size: 30px;
      }

      @media only screen and (max-width: 413px){
        body{
          width: 95%;
            }
        .games{
            width: 300px;
            font-size: 20px;
        } 
        #logogame1{
          width:150px;
      }
      #h1{
        font-size: 40px;
      }
      #startButton1 , #startButton2{
        font-size: 16px;
        padding: 9px 9px;
        font-size: 17px;
      }
      }
